altair==5.4.1
altgraph==0.17.4
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
DateTime==5.5
Deprecated==1.2.14
et-xmlfile==1.1.0
fonttools==4.54.1
gitdb==4.0.11
GitPython==3.1.43
idna==3.10
importlib-metadata==6.11.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mplfinance==0.12.10b0
multipledispatch==1.0.0
narwhals==1.9.1
numpy==1.26.4
openpyxl==3.1.5
packaging==23.2
pandas==2.2.3
pefile==2024.8.26
pillow==10.4.0
protobuf==4.25.5
pyarrow==17.0.0
pydeck==0.9.1
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pykrx==1.0.48
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
referencing==0.35.1
requests==2.32.3
rich==13.9.2
rpds-py==0.20.0
setuptools==75.1.0
six==1.16.0
smmap==5.0.1
soupsieve==2.6
streamlit==1.39.0
tenacity==8.5.0
toml==0.10.2
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
validators==0.34.0
watchdog==5.0.3
wrapt==1.16.0
xlrd==2.0.1
zipp==3.20.2
zope.interface==7.0.3
